# Directories
/.settings
/bin
/Debug
/local
/obj
/portable
/remote

# Files
*~
.cproject
.project
Sparrow.cbp
Sparrow.depend
Sparrow.layout
Sparrow.sdf
Sparrow.sln
Sparrow.vcxproj
Sparrow.vcxproj.filters
Sparrow.vcxproj.user